In [ ]:
# creating series

In [1]:
import pandas as pd
import numpy as np

In [2]:
ser1 = pd.Series() #empty series
print(ser1)

Series([], dtype: object)

In [4]:
data = np.array(['a','e','i','o','u']) # simple series

In [6]:
ser2=pd.Series(data)

In [7]:
ser2

0    a
1    e
2    i
3    o
4    u
dtype: object

In [ ]:
# series can also be created from list,tupples,and dictionaries

In [9]:
import pandas as pd
import numpy as np

list3= ['a','e','i','o','u']
tup3 =('akash','deepak','rohit')
dic3 = {'a':1,'b':2,'c':3}

ser3 = pd.Series(list3)
ser4 = pd.Series(tup3)
ser5 = pd.Series(dic3)
print(ser3)
print(ser4)

print(ser5)

0    a
1    e
2    i
3    o
4    u
dtype: object
0     akash
1    deepak
2     rohit
dtype: object
a    1
b    2
c    3
dtype: int64

In [13]:
ser=pd.Series(10,index=([0:4][0:4])) # series with same value

SyntaxError: invalid syntax (3578869126.py, line 1)